.container {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* background-image: url('/background/game.jpg'); */
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.boardChess {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	border-radius: 2px;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
}

.square {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
}

.battle_game {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  z-index: 50;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}
