.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: center;
	align-items: center;
  user-select: none;
}

.modal_content {
	height: 80%;
	width: 80%;
	max-width: 700px;
	max-height: 700px;
	background-color: white;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.btnClose {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  opacity: 0.8;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.btnClose:active {
  opacity: 1;
}
