.container {
	position: fixed;
	inset: 0;
	background-color: rgba($color: #000000, $alpha: 0.4);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
}

.content {
	padding: 20px;
	background-color: white;
	border-radius: 8px;
	box-shadow: 2px 2px 5px rgba($color: #000000, $alpha: 0.8);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.piece {
	border-radius: 8px;
	box-shadow: 2px 2px 5px rgba($color: #000000, $alpha: 0.4);
	background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.piece:hover {
  background-color: orange;
}
