.container {
  width: 100%;
  padding: 10px 0;
  display: flex;
  gap: 20px;
}

.img {
  border-radius: 100px ;
}

.home {
  justify-content: flex-end;
}

.vertical {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.active {
  color: orangered;
  font-weight: 500;
}

.title {
  font-size: 16px;
}